WSGIPythonHome /var/www/meetyourmappers/venv/bin
WSGIPythonPath /var/www/meetyourmappers/venv/lib/python3.5/site-packages

<VirtualHost *:80>
        ServerName mym.example.com

        AddType application/octet-stream .xml

        Alias /download/ /var/www/data/
        WSGIScriptAlias / /var/www/meetyourmappers/meetyourmappers.wsgi

        <Directory /var/www/meetyourmappers>
                Require all granted
        </Directory>

        <Directory /var/www/data>
                Options None
                AllowOverride None
                Require all granted
        </Directory>
</VirtualHost>
