{% extends "base.html" %}
{% block content %}
	<div id="about">
		Meet Your Mapper (MYM) tells you who has mapped in your area, when, and how much. Use it for fun, curiosity, or to help you make a list of people to  invite to a mapping party or some other OSM event.
		<p>If you are interested in more detail about what other mappers are doing in your area, there are way better tools to do that, like OSMCha, Whodidit and Who's Around Me.
		<p><strong>About Mapper Types</strong>: MYM groups mappers into types based on their mapping history. There are <em>normal mappers</em>, <em>power mappers</em>, and <em>mayfly mappers</em>, and <em>new mappers</em>. If someone has not mapped recently, they are either <em>retired</em> or <em>forgotten</em>.
	</div>
{% endblock %}