<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Meet Your Mapper</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jquery.dataTables.min.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='buttons.dataTables.min.css') }}"/>
	<!-- Matomo -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//piwik.rtijn.org/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', '6']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//piwik.rtijn.org/piwik.php?idsite=6&amp;rec=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Matomo Code -->
</head>
<body>
	<div class="title">
		<h2>Meet Your Mapper</h2>
		<h3>Discover mappers near you!</h3>
	</div>
	{% block content %}{% endblock %}
</body>
</html>