<!DOCTYPE html>
<html>
<head>
	<title>Meet Your Mapper</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/datatables.min.css') }}"/>
</head>
<body>
	<h2>Meet Your Mapper</h2>
	Meet Your Mapper (MYM) tells you who has mapped in your area, when, and how much. Use it for fun, curiosity, or to help you make a list of people to  invite to a mapping party or some other OSM event.
	<p>If you are interested in more detail about what other mappers are doing in your area, there are way better tools to do that, like OSMCha, Whodidit and Who's Around Me.
	<p><strong>About Mapper Types</strong>: MYM groups mappers into types based on their mapping history. There are <em>normal mappers</em>, <em>power mappers</em>, and <em>mayfly mappers</em>, and <em>new mappers</em>. If someone has not mapped recently, they are either <em>retired</em> or <em>forgotten</em>.
	<hr>
	<p>Enter the OSM id for the boundary relation representing your area of interest. It must be small-ish (admin_level 6 or higher, bounding box not more than 2 degrees squared), because the data is fetched on-demand from Overpass. If you don't know the relation ID, you can look it up by searching for your area on <a target="new" href="https://osm.org">the OSM web site</a>.</p>
	<p>
		Relation ID: <input type="text" placeholder="8374450" id="relation_id">
	<p>
		<input type="checkbox" id="save_osmdata"> check if you want to download the raw OSM data as well <a id="download" href="/"">Download OSM data</a>

	<p>
		<input type="button" value="Go" id="submit" onclick=get_relation_meta()>
		{% if debug %}
		<input type="button" value="Debug (test data)" onclick=process_download()>
		{% endif %}
		<a id="startover" href="/"">Start over</a>
	</p>
	</form>
	<div id="messages"></div>
	<table id="results" class="compact stripe order-column"><thead>
		<th>User</th>
		<th>Nodes</th>
		<th>Ways</th>
		<th>Relations</th>
		<th>First edit</th>
		<th>Latest edit</th>
		<th>Mapper type</th>
	</thead>
	<tbody>
	</tbody></table>
	<script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='DataTables/datatables.min.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='site.js') }}"></script>
</body>
</html>