{% extends "base.html" %}
{% block content %}
	<form name="mymform">
		<div class="userinput">
			Draw a box on the map below for the area you want to analyze.
			<div id="mapid"></div>
		</div>
		<div class="explain">
			Use the ⏹ button to activate drawing mode. Then use click and drag to draw the box. The area cannot be too large, because the data is loaded on demand from the Overpass API. <a href="#" onClick="centerMapOnMyLocation()">Center map on my approximate location</a>
		</div>
		<div class="userinput">
			Or, enter an OSM relation ID for your area of interest: <input type="text" placeholder="OSM relation ID" id="relation_id">
		</div>
		<div class="explain">
			Enter the OSM id for the boundary relation representing your area of interest. It cannot be too large (admin_level 6 or higher, bounding box not more than 2 degrees squared), because the data is loaded on demand from the Overpass API. If you don't know the relation ID, you can look it up by searching for your area on <a target="new" href="https://osm.org">the OSM web site</a>.
		</div>
		<div class="userinput">
			<input type="checkbox" id="save_osmdata"> Download raw OSM data, too <a id="download" href="/"">Download OSM data</a>
		</div>
		<div class="explain">
			The complete OSM map data for your area will be downloaded in the background. For a city, this can be multiple 100 megabytes. If you want to use this data for something else later, check this box and a download link will appear after the analysis completes.
		</div>
		<div class="userinput">
			<input type="checkbox" id="use_altserver"> Use alternate Overpass server
		</div>
		<div class="explain">
			Most users can ignore this option. If for whatever reason you cannot use the main Overpass API endpoint, this switches to an alternate endpoint at <code>https://overpass.kumi.systems</code>.
		</div>
		<div class="userinput">
			<input type="button" value="Go" id="submit" onclick=on_submit()>
			{% if debug %}
			<input type="button" value="Debug (test data)" onclick=process_download()>
			{% endif %}
			<input type="button" value="Start over" id="startover" onclick=init()>
		</div>
	</form>
	<div class="explain">
		<em><a href="{{ url_for('about')}}">Learn more about this tool</a></em>
	</div>
	<div id="messages"></div>
	<table id="results" class="compact stripe order-column"><thead>
		<th>User</th>
		<th>Nodes</th>
		<th>Ways</th>
		<th>Relations</th>
		<th>First edit</th>
		<th>Latest edit</th>
		<th>Mapper type</th>
	</thead>
	<tbody>
	</tbody></table>
	<script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='dataTables.buttons.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='buttons.html5.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='jszip.min.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='site.js') }}"></script>
	<script type="text/javascript">init()</script>
{% endblock %}