body {
	font-family: sans-serif;
	margin: 10px;
}

input, button {
	font-size: 16px;
}

#messages {
	font-size: smaller;
	color: #999;
	padding-top: 10px;
	padding-bottom: 10px;
}

#results {
	width: 100%;
	display: none;
}

#startover {
	display: none;
}

#download {
	display: none;
}