body {
	font-family: sans-serif;
}

input, button {
	font-size: 16px;
}

#messages {
	font-size: smaller;
	color: #999;
	padding-top: 10px;
	padding-bottom: 10px;
}

#results {
	width: 100%;
	display: none;
}

#startover {
	display: none;
}

#download {
	display: none;
}

#top {
	overflow: hidden;
}

#title {
	position: relative;
	float: left;
	display: inline;
}

#headerimage {
	position: relative;
	float: left;
	display: inline;
	padding: 20px;
}

.userinput {
	padding: 10px;
	background-color: #ffc;
	font-size: 16pt;
	border-left: 5px solid #f60;
}

.explain {
	font-size: 11pt;
	padding:10px;
	border-left: 5px solid #eee; 
}