body {
	font-family: sans-serif;
}

input, button {
	font-size: 16px;
}

#messages {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 30%;
	border: 1px solid #aaa;
	padding: 5px;
	background-color: #ddd;
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.6;
	z-index: 1000;
}

#results {
	width: 100%;
	display: none;
}

#startover {
	display: none;
}

#download {
	display: none;
}

#top {
	overflow: hidden;
}

#title {
	position: relative;
	float: left;
	display: inline;
}

#headerimage {
	position: relative;
	float: left;
	display: inline;
	padding: 20px;
	width: 175px;
	font-size: 9pt;
}

#mapid {
	position: relative;
	margin-top: 10px;
	height: 400px;
	width: 600px;
}

.userinput {
	padding: 10px;
	background-color: #ffc;
	font-size: 16pt;
	border-left: 5px solid #f60;
}

.explain {
	font-size: 11pt;
	padding:10px;
	border-left: 5px solid #eee; 
}